body {
background-color: var(--bs-body-bg);
}

.main-container {
background-color: var(--bs-body-bg);
border-radius: 8px;
padding: 2rem;
padding-bottom: 10px;
}

.centered-banner {
display: block;
margin: 2rem auto;
max-width:60%;

}

footer {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 1rem;
  margin-top: 2rem;
}