@if (active) {
  <div class="container my-5">
    <div class="row align-items-start">
      <!-- Results Section -->
      <div class="col-md-4">
        <div class="card shadow p-4 h-100">
          <h5 class="card-title text-center mb-4">Vote Results</h5>
          <ul class="list-group">
            @for (voter of objectKeys(votes); track voter) {
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ voter }}:</span>
                @if (settings.reveal) {
                  <span>{{ votes[voter] }}</span>
                } 
                @else {
                  @if(votes[voter] ==""){
                    <fa-icon [icon]='faSquare'></fa-icon>
                  }
                  @else{
                    <span>
                      <fa-icon [icon]='faCheckSquare'></fa-icon>
                    </span>
                  }                 
                }
              </li>
            }
            @empty {
              <li class="list-group-item">No Voters found.</li>
            }
          </ul>
          <div class="mt-4 text-center">
            <button id="revealButton" class="btn btn-primary me-2" (click)="revealClicked()">Reveal\Hide Votes</button>
            <button class="btn btn-danger" (click)="clearClicked()">Clear Votes</button>
          </div>
        </div>
      </div>

      <!-- Voting Card Section -->
      <div class="col-md-8">
        <app-voting-card
          (userDetails)="(userDetails)"
          (vote)="voted($event)"
          [clearVotes]="clearVotes"
        ></app-voting-card>
      </div>
    </div>
  </div>
}
